body {
  background-color: #2f5f8e;
  color: #2f5583;
  font-family: "Open Sans", Arial;
  font-size: 17px;
  padding: 15px;
  margin: 0;
}

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1 { text-align: center; }

.navbar { 
  text-align: center; 
  margin-bottom: 25px;
}

.list-nav {
    padding: 0;
    margin: 0; 
}

.list-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.list-nav a { font-size: 20px; }
.list-nav li a.active { color: #2a455d; }
a:hover { color: #fefefe; }

a { 
  color: #333333; 
  text-decoration:none;
}

.content { 
  background-color: #000000; 
  border-radius: 10px;
}

.content-header{ margin-bottom: 0; }

.content-text {
   font-size: 20px;
   margin: 0;
}

#content-img {
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#content-img img {
  max-width: 50%;
  margin-bottom: -15px;
}

.content1 {
  padding: 15%;
  font-size: 30px;
}

.section {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.section-header {
  color: #fbfbfb;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr {
  width: 60%;
  border: 0.5px solid #63789b;
}

table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 20px;
}

th {
  color: #fcfeff;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

td {
  text-align: center;
  padding: 10px 15px;
}

.text-left { text-align: left; }
tr:nth-child(odd) { background-color: #2f5583; }

tr.tr-header {
  background-color: #497499;
  height: 50px;
}

.footer-text {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

body {
  background: color #2c5784;;
  color: #000000;
  font-family: "Open Sans", Arial;
  font-size: 17px;
  padding: 15px;
  margin: 0;
}

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1 { text-align: center; }

.navbar { 
  text-align: center; 
  margin-bottom: 25px;
}

.list-nav {
    padding: 0;
    margin: 0; 
}

.list-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.list-nav a { font-size: 20px; }
.list-nav li a.active { color: #444444; }
a:hover { color: #ffffff; }

a { 
  color: #4a6783; 
  text-decoration:none;
}

.content { 
  background-color: #ffffff; 
  border-radius: 10px;
}

.content-header{ margin-bottom: 0; }

.content-text {
   font-size: 20px;
   margin: 0;
}

#content-img {
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#content-img img {
  max-width: 50%;
  margin-bottom: -15px;
}

.content1 {
  padding: 15%;
  font-size: 30px;
}

.section {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.section-header {
  color: #2a455d;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr {
  width: 60%;
  border: 0.5px solid #ccc;
}

table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 20px;
}

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

td {
  text-align: center;
  padding: 10px 15px;
}

.text-left { text-align: left; }
tr:nth-child(odd) { background-color: #dcdcdc; }

tr.tr-header {
  background-color: #2a455d;
  height: 50px;
}

.footer-text {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


img { 
  max-width: 100%;
  max-height: 200px;
}

.gallery {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.images {
  padding-left: 15px;
  padding-right: 15px;
}

figure { margin: 0; }
figcaption { text-align: center; }

figcaption span {
  display: block;
  color: #333333;
  font-size: 15px;
}


p { text-align: center; }